.Crud {
    text-align: center;
  
  }
  input{
    height: 35px;
    width: 300px;
    border-radius: 5px;
  }

  
 
  
  
  .Crud-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  th,td{
    padding: 10px;
    border: 1px solid black;
  }
  th{
    color: black;
    font-weight: bolder;
  }
  td{
    color: blue;
  }
  
